html {
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw
}

.panel {
    background-color: lightcyan;
    display: flex;
    border-radius: 10px;
    padding: 25px 10px;


}

.pricing-plan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    border-right: 2px solid darkcyan;

    padding: 0 20px;

}


.pricing-plan:last-child {
    border-right: none;
}


.pricing-img {
    margin: 20px 10px;

}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;

    padding: 5px 0px;
}

.pricing-features {
    border: none;

}

.pricing-features-item {
    padding: 15px 0;

    font-size: smaller;

    color: darkcyan;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5px;

    border-top: 2px solid darkcyan;


}

.pricing-price {
    padding: 5px 0px;
    font-size: larger;
    font-weight: 800;
    color: darkcyan;
    letter-spacing: 2px;

    border-top: 2px solid darkcyan;


}


.pricing-button {
    width: fit-content;
    align-self: center;

    border-bottom: none;
    padding: 0.5em 0.3em;

    text-decoration: none;
    color: darkcyan;
    letter-spacing: 1px;

    border: 2px solid darkcyan;
    border-radius: 0.3em;

    background-color: lightcyan;

    transition: background-color 0.3s;
}

.pricing-button:hover {
    background-color: rgba(0, 139, 139, 0.3);

}

@media(max-width:1200px) {
    .panel {
        flex-direction: column;
        width:85%
    }

    .pricing-plan {
        border-right: 0;
        border-bottom: 2px solid darkcyan;
    }

    .pricing-plan:last-child {
        border-bottom: none;
    }

    body {
        align-items: flex-start;
    }

    .pricing-button {
        margin-bottom: 0.5em;
    }

    img{
        width:95%
    }

}
